p.aos-init.aos-animate {
  color: #afabab;
}

.about-image.aos-init.aos-animate {
  display: flex;
  position: relative;
  left: 18px;
}

* {
  outline: none !important;
}

.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 121px 20px;
  text-align: center;
  background-color: black;
  box-sizing: border-box;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}


.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.about-content-wrapper {
  overflow: hidden;
  width: 100%;
}

.about-image {
  background-color: #1b0d2f;
  width: 200px;
  height: 250px;
  border-radius: 50% / 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.about-image img {
  width: 166%;
  height: auto;
  object-fit: cover;
}

.about-text {
  flex: 1;
  text-align: left;
  color: #afabab;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #1f2937;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;

  }

  .about-text {
    text-align: center;
  }
}

/* Education & Experience */

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  position: relative;
  bottom: 70px;
  background-color: black;
}

.column {
  width: 48%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline {
  border-left: 3px solid #a855f7;
  padding-left: 20px;
  position: relative;
}

.timeline-item {
  position: relative;
  padding: 15px 0;
}

.timeline-icon {
  position: absolute;
  left: -10px;
  top: 10px;
  width: 12px;
  height: 12px;
  background: #a855f7;
  border-radius: 50%;
}

.date {
  font-weight: bold;
  font-size: 1rem;
  color: #A9A9A9;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0;
  color: var(--primary-color-dark);
}

p {
  font-size: 1rem;
  color: #afabab;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;

  }

  .column {
    width: 100%;
    margin-bottom: 20px;

  }
}

.skills-container {
  text-align: center;
  background-color: black;
  padding: 20px;
  color: black;
  overflow: hidden;
  position: relative;
}

.skills-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
}

.slider {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.slide-track {
  display: flex;
  gap: 20px;
  width: calc(200px * 12);
  animation: slide 12s linear infinite;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease;
  color: #1f2937;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* Pause on hover */
.card:hover {
  transform: scale(1.1);
  animation-play-state: paused;
}

/* Infinite sliding animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


@media screen and (width < 750px) {
  .about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 117px 20px;
    text-align: center;
  }

  h2.about-heading {
    position: relative;
    bottom: 24px;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1f2937;
    position: relative;
    bottom: 12px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
  }

  .skills-container {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    color: black;
    overflow: hidden;
    margin-top: -45px;
  }

  .skills-title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
  }

}

@media screen and (max-width: 768px) {
  .about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 117px 20px;
    text-align: center;
  }

  h2.about-heading {
    position: relative;
    bottom: 24px;
  }

  .about-image {
    margin-right: 38px;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1f2937;
    position: relative;
    bottom: 12px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
  }

  .skills-container {
    text-align: center;
    background-color: black;
    padding: 20px;
    color: black;
    overflow: hidden;
    margin-top: -45px;
  }

  .skills-title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
  }

}

div#aboutpage {
  position: relative;
}


@media (width : 1024px) {
  .about-content {
    position: relative;
    left: 35px;
  }

  .container {
    position: relative;
    left: 35px;
  }

  .teck-stack {
    position: relative;
    left: 38px;
  }
}


.tech-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.tech-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.tech-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tech-item:hover {
  transform: translateY(-5px);

}

.tech-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.tech-name {
  font-size: 16px;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tech-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .tech-item {
    width: 100px;
  }

  .tech-name {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tech-row {
    display: grid;
    align-items: center;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .tech-item {
    width: 90%;
    margin: 0 auto;
  }
}



img#github {
  color: black;
  background: black;
  border-radius: 65px;
}

img#postman {
  border-radius: 23px;
}